.food-img {
  max-width: 100%;
  height: auto;
  padding: 30px;
}

.enjoy {
  background-color: gray;
}

.container h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 30px;
}

.container p {
  margin-bottom: 30px;
  margin-left: 30px;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.mini-video {
  max-width: 100%;
  height: 350px;
  width: 450px;
}

.why-us {
  background-color: gray;
}

.choose-yummy {
  background-color: red;
  border-radius: 20px;
  padding: 20px;
}

.icon-box {
  border-radius: 20px;
  background-color: aliceblue;
  padding: 30px;
}

.count {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../css/images/count-img.jpg");
  padding: 100px 0;
}

.count .card {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../css/images/count-img.jpg");
}

.count .card h2 {
  font-size: 50px;
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.book-a-table{
    background-color: gray;
}